<?xml version="1.0" encoding="utf-8"?>
<!--
    Projet : Notifium
    Students : Raphaël Margueron / Fabien Mottier / Segan Salomon
    Teacher : Aicha Rizzotti
    Module : 3255.1-Developpement_mobile
    Repository Git : https://github.com/HE-Arc/Notifium
    Date : 25.01.2019

    App manifeste
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devmobile.hearc.ch.notifium"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"  />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AlertListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddAlertActivity" />

        <service
            android:name=".NotifierService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".RestartServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="devmobile.hearc.ch.notifium" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>